<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Spotimy</title>

    <link rel="stylesheet" href="../static/css/styles.css">
  </head>

  <br/>
  <h1>My Spotify data, visualized</h1>

  <p>Taking a look at some data from the Spotify API using Python and Chart.js...</p>
  <br/>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <body>
    <div class="outbox">
      <div class="container">
        <canvas id="loudnessEnergyBubble"></canvas>
      </div>
    </div>
    <br/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script type="text/javascript">
      drawLoudnessEnergyBubble(
        "{{ loudnessTitle }}",
       {{ loudnessEnergyDataShort | safe }},
       {{ loudnessEnergyDataMid | safe }},
       {{ loudnessEnergyDataLong | safe }}
      );
    </script>

    <div class="outbox">
      <div class="container">
        <canvas id="topGenresBar"></canvas>
      </div>
    </div>
    <br/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script type="text/javascript">
      drawTopGenresBar(
        "{{ genreCountsTitle }}",
        {{ genreCountsLabels | safe }},
        {{ genreCountsDataShort | safe }},
        {{ genreCountsDataMid | safe }},
        {{ genreCountsDataLong | safe }}
      );
    </script>

    <div class="outbox">
      <div class="container">
        <canvas id="rankPopularityScatter"></canvas>
      </div>
    </div>
    <br/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
    <script type="text/javascript">
      drawRankPopularityScatter(
        "{{ rankPopularityTitle }}",
        {{ rankPopularityDataShort | safe }},
        {{ rankPopularityDataMid | safe }},
        {{ rankPopularityDataLong | safe }},
      );
    </script>

  </body>
</html>
